# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist
/.next

# misc
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.tmp.mk
node_modules
.idea
.DS_Store
.next
logs
releases
dist
*.sample.json
output
.cache
public
.blocklet