// colors
$accentColor = #25496e
$textColor = #202124
$codeColor = #202124
$borderColor = #f2f2f2
$codeBgColor = #f2f2f2
$arrowBgColor = #ccc

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js jsx ts tsx html md vue css sass scss less stylus go java c sh yaml py kt elm elixir bash
